
/* ==========================================================================
   Desktop only
   ========================================================================== */

@import "components/__all";

@include core-layout_min600;
@include core-layout_min751;
@include core-layout_min1000;

@include core_typography_min481;


@include page-registration_min451;
