
// ==========================================================================
// Variables
// ==========================================================================

$red: #e72639;

$museo-sans: "museo-sans","Helvetica Neue",Helvetica,Arial,sans-serif;
$helvetica: "Helvetica Neue",Helvetica,Arial,sans-serif;


// ==========================================================================
// Mixins
// ==========================================================================


@mixin linear-gradient( $color1, $color2 ) {
   background-color: $color2; 
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($color1), to($color2));
   background-image: -webkit-linear-gradient(top, $color1, $color2); 
   background-image:    -moz-linear-gradient(top, $color1, $color2);
   background-image:     -ms-linear-gradient(top, $color1, $color2);
   background-image:      -o-linear-gradient(top, $color1, $color2);
}