
/* ==========================================================================
   Typography
   ========================================================================== */

body {background-color:#f1f1f1; color:#666; font:62.5%/2em $helvetica; padding:0; margin:0; width:100%;}

body .deadlink {background-color:yellow; color:#d83240;}

h1, h2, h3, h4, h5 {margin:0; text-rendering:optimizeLegibility; color:#333; word-wrap:break-word;}
h1, h2, h3, h4, h5, legend, input[type=submit], input[type=button], .btn span {font-family:$museo-sans; font-weight:300;}

h1 {font-size:2.1em; font-weight:500; line-height:1em; margin-bottom:0.2em; text-transform:uppercase;}
h2 {font-size:2.1em; font-weight:500; line-height:1.2em; margin-bottom:0.5em;}
h3 {font-size:2.1em; font-weight:500; line-height:1.2em; margin-bottom:0.5em;}
h4 {font-size:2.1em; font-weight:300; line-height:1em;}
h5 {font-size:1.6em; font-weight:700; line-height:1.4em; margin-bottom:0.5em;}
h6 {font-size:1.3em; font-weight:700; color:#333; line-height:1em; margin:0 0 0.5em;}

.huge {font-size:4.5em; text-transform:uppercase;}
.huge strong {font-weight:700; display:block;}

h1 strong {font-weight:500; display:block;}

p {margin:0 0 1.3em; text-rendering:optimizeLegibility;}

a:link, a:visited {color:#666; cursor:pointer;}
a:hover, a:active {color:#e72639; cursor:pointer;}

label a:link, label a:visited {color:#333;}

input, select, textarea {display:block; cursor:pointer; color:#333; -webkit-appearance: none;}
label {margin-bottom:0.3125em;}
input[placeholder], textarea,
input.placeholder, textarea.placeholder {color:#999;}
input[type=search],
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none; margin: 0;}
input[type="search"]::-webkit-search-cancel-button {}
input::-webkit-outer-spin-button,
oinput::-webkit-inner-spin-button {-moz-appearance: none; -webkit-appearance: none; margin:0;}

ul {padding:0; margin:0 0.625em;}
ul li {margin:1.231em 0.769em;}
ol li {margin:1.231em 0.769em 0;}
ol {padding:0 0 0 1.125em; margin:0 0.769em 0.769em;}

p, a, li, a pre, label {font-size:1.3em;}

p a, li p, p li, li a, li li, li li li,
p label {font-size:1em;}

.hr {clear:both; display:block; height:1px; background-color:#e5e5e5; margin:0.625em 0;}
.hr-dotted {clear:both; display:block; height:1px; margin:1.2em 0; border-top:2px dotted #e5e5e5;}

.quote {font-size:5.2em; font-weight:500; float:left; height:0.8em; margin:-0.5em 0.15em -0.8em 0; padding-top:38px;}

.clear { display:block; clear:both }

.hide-text {
    border:0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
}

.hide-block {display:none !important;}

.mobile-only {display:block !important; visibility:visible !important;}
.full-only {display:none !important; visibility:hidden !important;}

.left {float:left;}
.right {float:right;}



/* ==========================================================================
   Typography - min 481
   ========================================================================== */

@mixin core_typography_min481 {
  
    h1 {font-size:3.5em; margin-bottom:0.25em;}
    h2 {font-size:2.6em; font-weight:300;}
    h3 {font-size:2.4em; font-weight:300;}
    h6 {font-size:1.4em;}
}

