/* ==========================================================================
     Primary Navigation
     ========================================================================== */

.menu-block-1 {margin-bottom:2.2em;}
.menu-block-1 ul {margin:0;}
.menu-block-1 li {margin:0;}
.menu-block-1 li a,
.menu-block-1 li a:hover,
.menu-block-1 li a:active { text-decoration:none; }
.menu-block-1 li {
    float:left;
    width:20%;
    text-align:center;
    text-decoration:none;
}
.menu-block-1 li a span.text,
.menu-block-1 li.donate a:hover span.text {
    font-weight:500;
    font-size:18px;
    color:#ffffff;
    display:block;
    padding:13px 0px 3px 0px;
    text-shadow:0 -1px #131313;
    border-top:1px solid #111111;
    border-right:1px solid #111111;
    background:#343434;
    background:-webkit-gradient(linear,left bottom,left top,color-stop(0,#343434),color-stop(1,#565656));
    background:-ms-linear-gradient(bottom,#343434,#565656);
    background:-moz-linear-gradient(center bottom,#343434 0%,#565656 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#565656',endColorstr='#343434',GradientType=0);
}
.menu-block-1 li a span.bottom, .menu-block-1 li.donate a:hover span.bottom {
    height:10px;
    display:block;
    border-right:1px solid #111111;
    border-bottom:1px solid #111111;
    -webkit-box-shadow:0 3px 0 #111111;
    -moz-box-shadow:0 3px 0 #111111;
    box-shadow:0 3px 0 #111111;
    background-color:#343434;
}
.menu-block-1 ul li a:hover span.text { padding-top:15px; }
.menu-block-1 ul li a:hover span.bottom {
    height:9px;
    -webkit-box-shadow:0 2px 0 #111111;
    -moz-box-shadow:0 2px 0 #111111;
    box-shadow:0 2px 0 #111111;
}
.menu-block-1 li.first span.text {
    -webkit-border-top-right-radius:0;
    -webkit-border-bottom-right-radius:0;
    -webkit-border-bottom-left-radius:0;
    -webkit-border-top-left-radius:5px;
    -moz-border-radius-topright:0;
    -moz-border-radius-bottomright:0;
    -moz-border-radius-bottomleft:0;
    -moz-border-radius-topleft:5px;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    border-top-left-radius:5px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
}
.menu-block-1 li.first span.bottom {
    -webkit-border-top-right-radius:0;
    -webkit-border-bottom-right-radius:0;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-top-left-radius:0;
    -moz-border-radius-topright:0;
    -moz-border-radius-bottomright:0;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-topleft:0;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border-bottom-left-radius:5px;
    border-top-left-radius:0;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
}
.menu-block-1 li.last span.text {
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:0;
    -webkit-border-bottom-left-radius:0;
    -webkit-border-top-left-radius:0;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomright:0;
    -moz-border-radius-bottomleft:0;
    -moz-border-radius-topleft:0;
    border-top-right-radius:5px;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    border-top-left-radius:0;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
}
.menu-block-1 li.last span.bottom {
    -webkit-border-top-right-radius:0;
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:0;
    -webkit-border-top-left-radius:0;
    -moz-border-radius-topright:0;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-bottomleft:0;
    -moz-border-radius-topleft:0;
    border-top-right-radius:0;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:0;
    border-top-left-radius:0;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
}
.menu-block-1 li a:hover span.text, .menu-block-1 li.donate a:hover span.text {
    background:#2b2b2b;
    background:-webkit-gradient(linear,left bottom,left top,color-stop(0,#2b2b2b),color-stop(1,#303030));
    background:-ms-linear-gradient(bottom,#2b2b2b,#303030);
    background:-moz-linear-gradient(center bottom,#2b2b2b 0%,#303030 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#303030',endColorstr='#2b2b2b',GradientType=0);
    -webkit-box-shadow:inset 0 3px 0 #1e1e1e;
    -moz-box-shadow:inset 0 3px 0 #1e1e1e;
    box-shadow:inset 0 3px 0 #1e1e1e;
}
.menu-block-1 li a:hover span.bottom, .menu-block-1 li.donate a:hover span.bottom { background-color:#2b2b2b; }
.with-breadcrumb .menu-block-1 li.home span.bottom {
    -webkit-border-bottom-left-radius:0;
    -moz-border-radius-bottomleft:0;
    border-bottom-left-radius:0;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
}
.with-breadcrumb .menu-block-1 li.donate span.bottom {
    -webkit-border-bottom-right-radius:0;
    -moz-border-radius-bottomright:0;
    border-bottom-right-radius:0;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
}
.with-breadcrumb .menu-block-1 li span.bottom {
    height:12px;
    -webkit-box-shadow:0 1px 0 #111111;
    -moz-box-shadow:0 1px 0 #111111;
    box-shadow:0 1px 0 #111111;
}
.with-breadcrumb .menu-block-1 li.donate span.bottom {
    -webkit-box-shadow:0 1px 0 #9c3127;
    -moz-box-shadow:0 1px 0 #9c3127;
    box-shadow:0 1px 0 #9c3127;
}
.menu-block-1 { height:50px; }
.menu-block-1 li.active-trail a span.text, .menu-block-1 li.active-trail a:hover span.text {
    margin-top:-4px;
    padding-top:16px;
    background:#ffffff;
    color:#000000;
    text-transform:uppercase;
    -webkit-border-top-right-radius:0;
    -webkit-border-bottom-right-radius:0;
    -webkit-border-bottom-left-radius:0;
    -webkit-border-top-left-radius:3px;
    -moz-border-radius-topright:0;
    -moz-border-radius-bottomright:0;
    -moz-border-radius-bottomleft:0;
    -moz-border-radius-topleft:3px;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    border-top-left-radius:3px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-right-radius:0;
    -webkit-border-bottom-left-radius:0;
    -webkit-border-top-left-radius:0;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomright:0;
    -moz-border-radius-bottomleft:0;
    -moz-border-radius-topleft:0;
    border-top-right-radius:3px;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    border-top-left-radius:0;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    border:1px solid #ffffff;
    -webkit-box-shadow:inset 0 3px 0 #ffffff;
    -moz-box-shadow:inset 0 3px 0 #ffffff;
    box-shadow:inset 0 3px 0 #ffffff;
}
.menu-block-1 li.active-trail a span.bottom {
    border:1px solid #ffffff;
    background:#ffffff;
    -webkit-box-shadow:0 2px 0 #ffffff;
    -moz-box-shadow:0 2px 0 #ffffff;
    box-shadow:0 2px 0 #ffffff;
}
.menu-block-1 li, .menu-block-1 li.leaf, .menu-block-1 li.expanded {
    list-style-type:none;
    list-style-image:none;
    float:left;
    margin-left:0px;
    padding:0px;
}