/*
 * GIVING PAGE TABS
 */
.gp-tabs {position:relative; z-index:0;}
.gp-tabs .gp-tabs-toggle {display:block; padding:0.5em; position:absolute; top:-2.38em; right:0; width:4.3em; margin-top:0.2em; font-size:1.8em; background-color:#fff; border-left:1px solid #C8C8C8; border-top:1px solid #C8C8C8; -webkit-border-radius:4px 0 0; -moz-border-radius:4px 0 0; border-radius:4px 0 0; text-transform:uppercase;}
.gp-tabs .gp-tabs-toggle .icon {display:block; width:18px; height:12px; background:transparent url(../images/ui/low/sprite.png) no-repeat -24px -50px; float:right; margin-top:0.2em;}
.gp-tabs.open .gp-tabs-toggle .icon {background-position:-50px -45px;}
.gp-tabs .table {display:block; width:auto; border:0; background-color:#fff; padding:1.5em 1.5em 0;}
.gp-tabs .table .row {display:block; border:1px solid #ccc; padding:0; margin:0; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.gp-tabs .nose {position:absolute; z-index:5;}
.gp-tabs li.cell {display:block; font-size:1.8em; margin:0; padding:1px 0 0 0; border-top:1px solid #ccc; position:relative; z-index:10; vertical-align:bottom; background-color:#ebedee;}
.gp-tabs li.cell:first-child {border-top:0;  -webkit-border-radius:4px 4px 0 0; -moz-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0;}
.gp-tabs li > span {display:block;}
.gp-tabs li.active {background-color:#fff;}
.gp-tabs li.active span {background-image:none; background-color:#fafafa; border-bottom:1px solid #fafafa; margin-top:0; filter:none;}
.gp-tabs li a {display:block; text-decoration:none; padding:0.5em; word-wrap:normal;}
.gp-tabs li.active a {padding:0.5em;}
.gp-tabs li.log-out {-webkit-border-radius:0 0 4px 4px; -moz-border-radius:0 0 4px 4px; border-radius:0 0 4px 4px;}
.gp-tabs li.log-out span a span.icon {display:none;}

/* Giving Page Tabs - IE7/8 */
.lt-ie8 .gp-tabs ul {margin:0;}
.lt-ie8 .gp-tabs li {display:block; float:left; list-style:none; width:17%; margin:0;}
.lt-ie9 .gp-tabs li.log-out {width:7em;}
.lt-ie8 .gp-tabs li.log-out {width:9.4em}
.lt-ie8 .gp-tabs li span {margin-top:7px;}
.lt-ie8 .gp-tabs li.active span {margin-top:0;}
.lt-ie8 .gp-tabs li.log-out span a {padding: 0.8em 0}
.lt-ie8 .gp-tabs li.log-out span a span.icon {background-image:url(../images/ui/low/standby.gif);}
.lt-ie9 .gp-tabs li.log-out span a span.icon {display:inline; font-size:17px; float:none; padding-left:20px;}


/*
 * GIVING PAGE OPTIONS TABS
 */
.page-giving-page-index-edit .content-area-inner {position:relative; z-index:0;}
.options-tabs {position:relative; z-index:10; margin-bottom:-1px;}
.options-tabs .inner {display:table; width:100%;}
.options-tabs ul {display:table-row; margin:0;}
.options-tabs li {display:table-cell; list-style:none; margin:0; text-align:center; font-size:1.4em; border-bottom:1px solid #c8c8c8;}
.options-tabs li.empty {width:2px;}
.options-tabs li a {display:block; text-decoration:none; font-weight:300; color:#fff; padding:0.5em 0.5em; border:1px solid #333; border-bottom:0;}
.options-tabs li.active {border-bottom:1px solid #fff;}
.options-tabs li.active a {background-color:#fff; background-image:none; color:#333; filter:none; text-shadow:none; border-color:#c8c8c8; }

.page-options.pod {position:relative; z-index:5;}
.page-options.pod,
.page-options.pod > .pod-inner {-webkit-border-radius:0 0 4px 4px; -moz-border-radius:0 0 4px 4px; border-radius:0 0 4px 4px;}

/* Giving Page Options Tabs - IE7 */
.lt-ie8 .options-tabs .inner {display:block;}
.lt-ie8 .options-tabs ul {display:block; overflow:hidden;}
.lt-ie8 .options-tabs li {display:block; float:left;}
.lt-ie8 .options-tabs li.empty {line-height:1.95em;}