/*
 * FORMS
 */
fieldset p {
    max-width:53em;
    margin-right:1.538em;
}
fieldset p a:hover,
fieldset p a:active {
    color:#e72639;
}
.form-field p {
    position:relative;
    margin:0 0 1em;
}

.form-field.not-searchable label {
    font-weight: normal;
}

fieldset {
    margin:0;
    padding:2em 0 2em 2em;
    border:0;
    border-top:1px dotted #c8c8c8;
}
form fieldset:first-child {
    border:0;
}
fieldset legend {
    color:#333;
    font-size:2.6em;
    padding:0;
}
fieldset legend span {
    display:block;
    padding-top:0.769em;
    padding-bottom:0.769em;
}
label {
    font-size:1.4em;
    font-weight:bold;
    color:#333333;
    position:relative;
}
label.block {
    display:block;
    margin:0 0 0.3em;
}
input, textarea, select {
    font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
    color:#666;
}
input[type=radio] {
    position:absolute;
    top:0; left:0;
    width:20px;
    height:20px;
    cursor:pointer;
    filter: alpha(opacity=0); /* internet explorer */
    -khtml-opacity: 0;      /* khtml, old safari */
    -moz-opacity: 0;       /* mozilla, netscape */
    opacity: 0;           /* fx, safari, opera */
}
.form-field {
    padding-right:23px;
    margin-right:9px;
    position:relative;
}
.text-field-wrap {
    padding:0;
    margin:0 0 1.2em;
    font-size:1em;
    background:#fafafa;
    border:1px solid #cccccc;
    -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    -webkit-box-shadow:inset 0 4px 0 #e7e7e7;
    -moz-box-shadow:inset 0 4px 0 #e7e7e7;
    box-shadow:inset 0 4px 0 #e7e7e7;
}
.text-field-wrap p {
    margin:0;
    padding:0 12px;
}
.text-field-wrap input {
    padding:12px 0 10px;
    border:0;
    background-color:transparent  !important;
    *background-color:#fafafa !important;
    margin:0;
    font-size:15px;
    color:#666;
    width:100%;
    cursor:text;
}

.text-field-wrap input.placeholder {
    color:#999;
}

textarea {
    width:96%;
    max-width:96%;
    padding:9px;
    background:#fafafa;
    border:1px solid #ccc;
    -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    -webkit-box-shadow:inset 0 4px 0 #e7e7e7;
    -moz-box-shadow:inset 0 4px 0 #e7e7e7;
    box-shadow:inset 0 4px 0 #e7e7e7;
    font-size:15px;
    cursor:text;
}
form a.form-ui-checkbox {
    position:relative;
    top:3px;
    display:inline-block;
    width:18px;
    height:18px;
    margin-right:10px;
    background:url(../images/ui/low/sprite.png) -50px 0 no-repeat;
}
form .not-searchable a.form-ui-checkbox {margin-right:6px;}

form a.form-ui-checkbox.checked { background-position:-50px -18px; }
form a.disabled {
    filter: alpha(opacity=50); /* internet explorer */
        -khtml-opacity: 0.5;      /* khtml, old safari */
        -moz-opacity: 0.5;       /* mozilla, netscape */
        opacity: 0.5;           /* fx, safari, opera */
        cursor: default;
}
form a.form-ui-radio {
    position:relative;
    top:3px;
    display:inline-block;
    width:16px;
    height:15px;
    margin-right:10px;
    background:url(../images/ui/low/sprite.png) -70px 0 no-repeat;
    cursor:pointer;
}
form a.form-ui-radio.selected { background-position:-71px -15px; }

/* -- Dropdown */
.form-ui-dropdown-wrapper { position:relative;}
.form-ui-dropdown-wrapper .form-ui-dropdown-display {position:relative; padding:8px 9px; background:#fafafa; border:1px solid #ccc; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; -moz-box-shadow:inset 0 4px 0 #e7e7e7; -webkit-box-shadow:inset 0 4px 0 #e7e7e7; box-shadow:inset 0 4px 0 #e7e7e7; margin-right:5px; cursor:pointer;}
.form-ui-dropdown-wrapper.dropped .form-ui-dropdown-display { -webkit-border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;}
.form-ui-dropdown-wrapper .form-ui-dropdown-display .dropdown-btn {
    position:absolute;
    top:-1px;
    right:-5px;
    display:block;
    width:38px;
    height:100%;
    background:#e2e2e2;
    background:-webkit-gradient(linear,left bottom,left top,color-stop(0,#e2e2e2),color-stop(1,#e8e8e8));
    background:-ms-linear-gradient(bottom,#e2e2e2,#e8e8e8);
    background:-moz-linear-gradient(center bottom,#e2e2e2 0%,#e8e8e8 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8',endColorstr='#e2e2e2',GradientType=0);
    border:1px solid #c0c0c0;
    -webkit-border-radius:0 5px 5px 0; -moz-border-radius:0 5px 5px 0; border-radius:0 5px 5px 0;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    -webkit-box-shadow:inset 0 -4px 0 #c0c0c0;
    -moz-box-shadow:inset 0 -4px 0 #c0c0c0;
    box-shadow:inset 0 -4px 0 #c0c0c0;
}
.form-ui-dropdown-wrapper .form-ui-dropdown-display .dropdown-btn .icon {position:absolute; top:50%; left:50%; width:20px; height:13px; margin-top:-6.5px; margin-left:-10px; background:url(../images/ui/low/sprite.png) -80px -47px no-repeat;
}
.form-ui-dropdown-wrapper .form-ui-dropdown-display .dropdown-btn:hover {
    -webkit-box-shadow:inset 0 -2px 0 #c0c0c0;
    -moz-box-shadow:inset 0 -2px 0 #c0c0c0;
    box-shadow:inset 0 -2px 0 #c0c0c0;
}
.form-ui-dropdown-wrapper .form-ui-dropdown-display .dropdown-btn:hover .icon {margin-top:-4.5px;}
.form-ui-dropdown-wrapper .form-ui-dropdown-display .dropdown-btn .top-shadow {display:block; width:100%; height:100%;}
.form-ui-dropdown-wrapper .form-ui-dropdown-display .dropdown-btn:hover .top-shadow {
    -webkit-box-shadow:inset 0 2px 0 #dbdbdb;
    -moz-box-shadow:inset 0 2px 0 #dbdbdb;
    box-shadow:inset 0 2px 0 #dbdbdb;
}
.form-ui-dropdown-wrapper.dropped .form-ui-dropdown-display .dropdown-btn {
    -webkit-border-radius:0 5px 0 0; -moz-border-radius:0 5px 0 0; border-radius:0 5px 0 0;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
.form-ui-dropdown-wrapper.dropped .form-ui-dropdown-display .dropdown-btn .top-shadow {
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
.form-ui-dropdown-wrapper.dropped .form-ui-dropdown-display .dropdown-btn:hover .top-shadow {
    -webkit-box-shadow:inset 0 2px 0 #dbdbdb;
    -moz-box-shadow:inset 0 2px 0 #dbdbdb;
    box-shadow:inset 0 2px 0 #dbdbdb;
}
.form-ui-dropdown-wrapper.dropped .form-ui-dropdown-display .dropdown-btn .icon {background-position:-80px -32px;}
.form-ui-dropdown-wrapper .form-ui-dropdown-display .selected-text {vertical-align:middle; font-size:15px; color:#999;}
.form-ui-dropdown-wrapper.selection-made .form-ui-dropdown-display .selected-text {color:#666;}
.form-ui-dropdown-wrapper ul.form-ui-dropdown-list {display:none; position:absolute; z-index:1500; width:100%; padding:0; margin:0; background:#fafafa; border:1px solid #ccc; border-top:none; -webkit-border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; border-radius:0 0 5px 5px; -moz-box-shadow:0 4px 0 #ccc; -webkit-box-shadow:0 4px 0 #ccc; box-shadow:0 4px 0 #ccc; max-height:350px; overflow-y:scroll; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
.form-ui-dropdown-wrapper.dropped ul.form-ui-dropdown-list {display:block;}
.form-ui-dropdown-wrapper ul.form-ui-dropdown-list li {margin:0; list-style:none;}
.form-ui-dropdown-wrapper ul.form-ui-dropdown-list li a {display:block; text-decoration:none; padding:5px 15px; font-size:1em;}
.form-ui-dropdown-wrapper ul.form-ui-dropdown-list li a:hover {background:#ebebeb; color:#333333;}

/* Dropdown - IE7 */
.form-ui-dropdown-wrapper {*border:1px solid #ccc;}
.form-ui-dropdown-wrapper .form-ui-dropdown-display {*border:0;}
.form-ui-dropdown-wrapper .form-ui-dropdown-display a.dropdown-btn {*top:-3px; *right:-6px;}


/* -- Password checker */
form .form-ui-progress {
    height:10px;
    margin-bottom:2em;
    border:1px solid #c0c0c0;
    background:#e4e4e4;
    background:-webkit-gradient(linear,left bottom,left top,color-stop(0,#e4e4e4),color-stop(1,#efefef));
    background:-ms-linear-gradient(bottom,#e4e4e4,#efefef);
    background:-moz-linear-gradient(center bottom,#e4e4e4 0%,#efefef 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef',endColorstr='#e4e4e4',GradientType=0);
    -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    -webkit-box-shadow:0 4px 0 #c0c0c0;
    -moz-box-shadow:0 4px 0 #c0c0c0;
    box-shadow:0 4px 0 #c0c0c0;
}
form .form-ui-progress .progress-completed {
    position:relative;
    top:-1px;
    left:-1px;
    display:block;
    width:0%;
    height:100%;
    border:1px solid #007d98;
    background:#009abb;
    background:-webkit-gradient(linear,left bottom,left top,color-stop(0,#009abb),color-stop(1,#00a9cd));
    background:-ms-linear-gradient(bottom,#009abb,#00a9cd);
    background:-moz-linear-gradient(center bottom,#009abb 0%,#00a9cd 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a9cd',endColorstr='#009abb',GradientType=0);
    -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    -webkit-box-shadow:0 4px 0 #007d98;
    -moz-box-shadow:0 4px 0 #007d98;
    box-shadow:0 4px 0 #007d98;
}
form a.form-ui-toggle-btn {
    display:inline-block;
    cursor:pointer;
}
form a.form-ui-toggle-btn .left {
    float:left;
    background:url(../images/ui/low/sprite.png) 0 0 no-repeat;
    width:28px;
    height:28px;
}
form a.form-ui-toggle-btn .right {
    float:left;
    background:url(../images/ui/low/sprite.png) 0 0 no-repeat;
    width:77px;
    height:28px;
}
form a.form-ui-toggle-btn.facebook .left {background-position:-59px -305px;}
form a.form-ui-toggle-btn.twitter .left {background-position:-166px -305px;}
form a.form-ui-toggle-btn.linkedin .left {background-position:-273px -305px;}

form a.form-ui-toggle-btn.facebook .right {background-position:-88px -305px;}
form a.form-ui-toggle-btn.twitter .right {background-position:-195px -305px;}
form a.form-ui-toggle-btn.linkedin .right {background-position:-302px -305px;}

form a.form-ui-toggle-btn.facebook.checked .right {background-position:-88px -335px;}
form a.form-ui-toggle-btn.twitter.checked .right {background-position:-195px -335px;}
form a.form-ui-toggle-btn.linkedin.checked .right {background-position:-302px -335px;}

.form-ui-dropdown .ismobile select {position:absolute; top:0; left:0; width:100%; height:3em; min-height:100%; max-height:100%;
    filter: alpha(opacity=0); /* internet explorer */
    -khtml-opacity: 0;      /* khtml, old safari */
    -moz-opacity: 0;       /* mozilla, netscape */
    opacity: 0;           /* fx, safari, opera */
}


/* FORMS - No JS */
.nojs input[type=radio] { position:relative; float:left; margin-right:0.5em; top:auto; left:auto;
    filter: alpha(opacity=1); /* internet explorer */
    -khtml-opacity: 1;      /* khtml, old safari */
    -moz-opacity: 1;       /* mozilla, netscape */
    opacity: 1;           /* fx, safari, opera */
}