
/* PAGE - Fundraiser Landing */
.page-fundraiser-landing .article {margin:1.5em; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.page-fundraiser-landing .article .img {width:100%; height:70px; margin:0 auto; background:transparent url(../images/content/registration/landing/noses_mobile.png) no-repeat 50% 0; position:absolute; left:0;}
.page-fundraiser-landing .article .img {display:none;}

.page-fundraiser-landing .articles-area-inner {padding-bottom:1px; background-color:#fff;}
.page-fundraiser-landing .articles-area h2 {padding:0.6em 0.615em 0.6em; margin:0; -webkit-border-radius:4px 4px 0 0; -moz-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0;}
.page-fundraiser-landing .articles-area .article {position:relative;}
.page-fundraiser-landing .articles-area .article h2 {padding:0; margin-bottom:0.5em; background-color:transparent; background-image:none; filter:none;}


.page-fundraiser-landing .pod-age .form-field {overflow:hidden; margin:0 auto 1.5em; padding:0; border:1px solid #c8c8c8; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; box-shadow: 0 4px 0 #E7E7E7 inset;}
.page-fundraiser-landing .pod-age .form-field p {margin:0; line-height:2.7em; padding:0 1em; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
.page-fundraiser-landing .pod-age .form-field p:first-child {border-bottom:1px solid #c8c8c8;}
.page-fundraiser-landing .pod-age .form-field p label {cursor:pointer;}
.page-fundraiser-landing #fund-options.inactive { position:relative; z-index:10;}

#editable-inline-bodyhtml a { text-decoration : none; font-weight: bold; color: #000; display:block; padding-top: 8px; }
#editable-inline-bodyhtml a span { text-decoration : none; padding-right: 10px;  }
#editable-inline-bodyhtml a span.plus-sign { background:transparent url(../images/ui/low/icon_red_plus.gif) no-repeat 50% }
#editable-inline-bodyhtml a span.minus-sign { background:transparent url(../images/ui/low/icon_red_minus.gif) no-repeat 50% }


/* PAGE - Fundraiser Landing - IE8 and below */
.lt-ie9 .page-fundraiser-landing .pod-age .form-field {width:33.5em}
.lt-ie8 .page-fundraiser-landing .pod-age .form-field p {width:49.5%;}