/*
 * BUTTONS
 * Required the following markup:
 * <a class="btn" href=""><span>Sign Me Up</span></a>
 * Wrap with <p> for correct margins between buttons and copy.
 * For alternative styling use BOTH classes like so: <a class="btn btn-blue" href=""><span>Sign Me Up</span></a>;
 */

/* Standard button - red by default */
.btn {display:inline-block; padding-bottom:4px; background-color:#9C3127; border:1px solid #9C3127; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; vertical-align:bottom; text-decoration:none; margin-bottom:1.5em; position:relative;}
.btn span {display:inline-block; padding:0.61em 1em; color:#fff; font-size:1.07em; text-transform:uppercase; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; text-shadow: 0 -1px 0 #9b3228; letter-spacing:0.1px; font-weight:700; filter:none !important;}
.btn:hover {padding-bottom:2px; margin-top:2px;}

.btn span.btn-icon-wrap {padding:0 !important; margin:0; font-size:1em; border:0; display:inline; position:relative; width:auto;}
.btn span.icon {position:absolute; font-size:1em; top:1.2em; left:2.8em; cursor:pointer; border:0; filter:none !important;}

.btn input[type="submit"],
.btn input[type="button"] {color:#fff; margin:0; border:0; text-transform:uppercase; font-size:1.4em; padding:0.63em 1.5em; line-height:1.4em; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; border-radius:4px; text-shadow: 0 -1px 0 #9b3228; font-weight:700; -webkit-appearance:none; filter:none;}

/* Form input buttons - IE 7 */
.lt-ie8 .btn input[type="submit"],
.lt-ie8 .btn input[type="button"] {padding:0.3em 0;}

/* Blue button  */
.btn-blue {background-color:#126477; border:1px solid #126477;}
.btn-blue span {text-shadow: 0 -1px 0 #126578;}
.btn.btn-blue input[type="submit"],
.btn.btn-blue input[type="button"] {text-shadow: 0 -1px 0 #036073;}

/* Light Grey button  */
.btn-lightgrey {background-color:#bfbfbf; border:1px solid #bfbfbf;}
.btn-lightgrey span,
.btn.btn-lightgrey input[type="submit"],
.btn.btn-lightgrey input[type="button"] {color:#333; text-shadow: 0 -1px 0 #fff;}

/* Mid Grey button  */
.btn-midgrey {background-color:#363636; border:1px solid #363636;}
.btn-midgrey span,
.btn.btn-midgrey input[type="submit"],
.btn.btn-midgrey input[type="button"] {color:#fff; text-shadow: 0 -1px 0 #1a1a1a;}


/* Download button - adds down arrow icon */
.btn-download span.icon {width: 14px; height: 17px; padding:0 0.5em 0 0;
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAARCAYAAADtyJ2fAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAI5JREFUeNpi/P//PwM5gImBTIBTo4mJyX8Qpp+NoxoZGBhBCQAY7I1Adh2ReprOnDlTD7YRyGBITU0lqAOkBqQWBJgbGhpA9AGgrUxA2+3PnTuHU1N6enoTkFkPFgA5FQk3zpgx47+xsTEKBomB5JDVomvE0IxNEy6NcM24NIEwI55s1Qil63FGBzkAIMAAagOfOX2/J4IAAAAASUVORK5CYII=) no-repeat 0 2px;}
.lt-ie8 .btn-download span.icon {background-image:url(../images/ui/low/icon_download_arrow.png); filter:none;} /* for IE7 */

/* Update button - adds update icon */
.btn-update input[type=submit] {padding:0.44em 2.3em 0.43em 3.3em;}
.btn-update span.icon {width: 13px; height: 14px; padding:0 0.7em 0 0; top:0.9em;
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAANCAYAAACZ3F9/AAABJUlEQVQoz2OYbaTBgAXLA7EPFMtjU4MuoALE0zfEhp46Nan3JgiD2CAxqBxWjdqbU2KOvr975+N/NAASA8mB1KBrZNlZkLnnz8+ff5HU34ZiMADJgdSA1MI1LnGxdv/29s13kIK/v39fBlLqQMwAxepQsf8gNSC1IHGwxstLFy6EmPrjK5CSBokhaQRhaajc/8tLFiyCa3x2+sRRkOCrKxcPwfyApKnxPxYAVvTmxvUjIM69PTvPYtEIwglA/BPmXSCOBSv6+vpVP0gEaMAHaNyhawRhDyB+C8SBcKeCA+PfP3CIguIOKFYOxI5QXI6kmRPGhsfj3z9/mmHuf7B/z/MjbQ1XQRjExmI7QiOQwwbEM7EFBDFJDmSAExDPAeLzUDwHm0YAB+DCSzKyLr8AAAAASUVORK5CYII=) no-repeat 0 0;}
.lt-ie8 .btn-update span.icon {background-image:url(../images/ui/low/icon_update.png); filter:none;} /* for IE7 */
.lt-ie8 .btn-update input[type=submit] {padding:0.44em 0 0.43em 1.7em;}


/* Plus buttons - adds plus icon - white and grey */
/* white */
.btn.btn-plus input[type=submit] {padding:0.61em 1.8em 0.61em 2.9em;}
.btn.btn-plus span {padding:0.61em 1.8em 0.61em 2.9em;}
.btn.btn-plus span.icon {width: 12px; height: 13px; padding:0; margin:0; background-repeat: no-repeat;
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAANCAYAAACdKY9CAAAALklEQVQoU2OYo6fCgAXvh2IMOWyKGf5DwRDSsB8dI2nAkIObRiwgXQM5fhjqGgCF0iB0LcwkxAAAAABJRU5ErkJggg==);}
.lt-ie8 .btn-plus span.icon {background-image:url(../images/ui/low/icon_plus_white.png); filter:none;} /* for IE7 */
/* grey */
.btn.btn-plus-grey input[type=submit] {padding:0.45em 1.8em 0.45em 2.9em; font-weight:500;}
.btn.btn-plus-grey span {padding:0.45em 1.8em 0.45em 2.9em; cursor: pointer;}
.btn.btn-plus-grey span.icon {width: 11px; height: 11px; padding:0; margin:0; top:0.2em; background-repeat: no-repeat;
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAOUlEQVQY02P4//8/AzI2Njb+D8Lo4iDMgEfxfjoqhkkSwqQq3g+zYj8MozkDBQ+W0MAWU0juRBEHAEI/RCBIjJeYAAAAAElFTkSuQmCC);}
.lt-ie8 .btn-plus-grey span.icon {background-image:url(../images/ui/low/icon_plus_grey.png); filter:none;} /* for IE7 */


/* Facebook button */
.btn-facebook {background-color:#2a447d; border:1px solid #2a447d; overflow:hidden; margin-right:0.6em;}
.btn-facebook span {border:1px solid #2a447d;}
.btn-facebook span.icon {background:#5d73ac url(../images/ui/low/icon_facebook.gif) no-repeat 100% 100%; width:39px; height:3.1em; padding:0; -webkit-border-radius:4px 0 0 4px; -moz-border-radius:4px 0 0 4px; border-radius:4px 0 0 4px; border-right:1px solid #2a447d; top:0; left:0; padding:0;}
.btn.btn-facebook input[type=submit] {padding:0.4em 1em 0.20em 3.5em; font-weight:300; text-shadow:none; filter:none;}
.btn-facebook span {padding:0.4em 1em 0.4em 3.5em; font-weight:300; text-shadow:none; filter:none;}

a.btn-facebook span {border:0;}
a.btn-facebook span.icon {height:2.5em;}

/* Facebook button IE7 */
.lt-ie8 .btn-facebook span.icon {height:3.6em;}
.lt-ie8 .btn.btn-facebook input[type=submit] {padding:0.3em 0 0.25em 2.3em;}

/* Twitter button */
.btn-twitter {background-color:#0e9eca; border:1px solid #0e9eca; overflow:hidden; margin-right:0;}
.btn-twitter span {text-shadow: 0 -1px 0 #3292b0;}
.btn-twitter span.icon {background:#32cdfd url(../images/ui/low/icon_twitter.gif) no-repeat 60% 50%; width:39px; height:3.1em; padding:0; -webkit-border-radius:4px 0 0 4px; -moz-border-radius:4px 0 0 4px; border-radius:4px 0 0 4px; border-right:1px solid #0e9eca; top:0; left:0;}
.btn.btn-twitter input[type=submit] {padding:0.4em 1em 0.2em 3.5em; font-weight:300; text-shadow:none; filter:none;}
.btn-twitter span {padding:0.4em 1em 0.4em 3.5em; font-weight:300; text-shadow:none; filter:none;}

a.btn-twitter span {border:0;}
a.btn-twitter span.icon {height:2.45em;}

/* Twitter button IE7/8 */
.lt-ie8 .btn-twitter span.icon {height:3.6em;}
.lt-ie8 .btn.btn-twitter input[type=submit] {padding:0.3em 0 0.25em 2.3em;}

/* Google button */
.btn-google {background-color:#030303; border:1px solid #030303; overflow:hidden; margin-right:0.6em;}
.btn-google span {border:1px solid #fff;}
.btn-google span.icon {background:#000 url(../images/ui/low/icon_google.gif) no-repeat 100% 100%; width:39px; height:3.1em; padding:0; -webkit-border-radius:4px 0 0 4px; -moz-border-radius:4px 0 0 4px; border-radius:4px 0 0 4px; border-right:1px solid #000; top:0; left:0;}
.btn.btn-google input[type=submit] {padding:0.3em 1em 0.25em 3.5em; font-weight:300; text-shadow:none; filter:none;}

/* Google button IE7 */
.lt-ie8 .btn-google span.icon {background-position:0 0; height:3.6em;}
.lt-ie8 .btn.btn-google input[type=submit] {padding:0.3em 0 0.25em 2.3em;}

/* Linkedin button */
.btn-linkedin {background-color:#014c78; border:1px solid #014c78; overflow:hidden; margin-right:0.6em;}
.btn-linkedin span {border:1px solid #014c78;}
.btn-linkedin span.icon {background:#0075ba url(../images/ui/low/icon_linkedin.gif) no-repeat 50% 42%; width:39px; height:3.1em; padding:0; -webkit-border-radius:4px 0 0 4px; -moz-border-radius:4px 0 0 4px; border-radius:4px 0 0 4px; border-right:1px solid #014c78; top:0; left:0;}
.btn.btn-linkedin input[type=submit] {padding:0.3em 1em 0.25em 3.5em; font-weight:300; text-shadow:none; filter:none;}

/* Linkedin button IE7 */
.lt-ie8 .btn-linkedin span.icon {height:3.6em;}
.lt-ie8 .btn.btn-linkedin input[type=submit] {padding:0.3em 0 0.25em 2.3em;}

/* Social coloured buttons - no icons */
.btn-fb-blue {background-color:#2a447d; border:1px solid #2a447d;}
.btn-fb-blue span,
.btn-fb-blue input[type="submit"] {text-shadow: 0 -1px 0 #2a447d;}
.btn-twt-blue {background-color:#3292b0; border:1px solid #3292b0;}
.btn-twt-blue span,
.btn-twt-blue input[type="submit"] {text-shadow: 0 -1px 0 #3292b0;}
.btn-lkin-blue {background-color:#105580; border:1px solid #105580;}
.btn-lkin-blue span,
.btn-lkin-blue input[type="submit"] {text-shadow: 0 -1px 0 #105580;}
.btn-ggl-grey {background-color:#1b1b1b; border:1px solid #1b1b1b;}
.btn-ggl-grey span,
.btn-ggl-grey input[type="submit"] {text-shadow: 0 -1px 0 #1b1b1b;}

/* Paypal button */
.btn.btn-paypal span.icon {padding:0; margin-left:8em;}
.btn.btn-paypal span.icon span {width:76px; height:19px; background:transparent url(../images/ui/low/logo_paypal.png) no-repeat 6px 1px; padding:0; filter:none;}
.btn.btn-paypal input[type=submit] {font-size:16px;}

/* Paypal button - IE7 */
.lt-ie8 .btn-paypal span.icon {margin-left:9.4em;}

/* Full width button - will fit container */
.btn.btn-fullwidth {width:100%;}
.btn.btn-fullwidth span,
.btn.btn-fullwidth input[type=submit],
.btn.btn-fullwidth input[type=button] {width:100%; padding-left:0; padding-right:0; text-align:center;}

/* Blue join team button has specific width */
.btn.btn-blue.join-team span { padding: 10px 52px }
.btn.btn-blue.sponsor-my-team { margin-right: 15px;}

/* Buttons - Added to total - Offline Donations */
.btn-addedtototal {background-color:#fff; padding:0; margin:0; border:0;}
.btn-addedtototal:hover {margin:0; padding:0;}
.btn.btn-addedtototal input[type=submit],
.btn.btn-addedtototal input[type=button] {background-color:#fff; background-image:none; filter:none; text-transform:none; font-size:1.5em; padding:0.89em 0;}

/* Dual Buttons */
.btn-dual.table {border:0;}
.btn-dual.table .cell {padding:0; border:0;}
.btn-dual .btn {display:block;}
.btn-dual .btn-dual-1,
.btn-dual .btn-dual-1 span {-webkit-border-radius:4px 0 0 4px; -moz-border-radius:4px 0 0 4px; border-radius:4px 0 0 4px; text-transform:capitalize;}
.btn-dual .btn-dual-2,
.btn-dual .btn-dual-2 span {-webkit-border-radius:0 4px 4px 0; -moz-border-radius:0 4px 4px 0; border-radius:0 4px 4px 0; text-transform:capitalize;}
.btn-dual .btn span {text-align:center; display:block; padding:0.55em 1em;}
.btn-dual .btn.active-btn {background-color:#126477; border:1px solid #126477;}
.btn-blue .btn.active-btn span {text-shadow: 0 -1px 0 #126578;}

/* Dual Buttons - IE7  */
.lt-ie8 .btn-dual.table {display:block;}
.lt-ie8 .btn-dual.table .row {display:block; padding:0; border:0;}
.lt-ie8 .btn-dual.table .cell {display:block; float:left; width:50%;}